@import "bootstrap.css";

.thumbnail{
    display:block;
    height:140px;
    overflow:hidden;
}

body{
	font-family: 'Droid Serif', serif;
}

.container{
	padding-top:20px;
}



#header{
	border-bottom:1px solid #ededed;
	padding-bottom:10px;
}