@import "bootstrap.css";

.thumbnail{
    display:block;
    height:140px;
    overflow:hidden;
}

body{
	font-family: 'Droid Serif', serif;
}

.container{
	padding-top:30px;
}

.nav{
	padding-top:25px;
}