---
layout: default
title: Gallery of work
---
<div class="posts">

<!--
  {% for work in site.data.order %}

	<a class="thumbnail" href="{{work.url}}">
	<img src="/images/thumbs/{{ work.image }}.jpg" alt="{{ work.medium }}" width="90" height="90">
	</a>


	{% endfor %} -->



	{% for image in site.posts %}

	{% if image.promo %}

	<a class="thumbnail" href="{{image.url}}">
	<img src="/images/thumbs/{{ image.image }}.jpg" alt="{{ image.medium }}" width="90" height="90">
	</a>


	{% endif %}

	{% endfor %}

	{% for image in site.posts %}

	{% unless image.promo %}

	<a class="thumbnail" href="{{image.url}}">
	<img src="/images/thumbs/{{ image.image }}.jpg" alt="{{ image.medium }}" width="90" height="90">
	</a>


	{% endunless %}

	{% endfor %}









</div>
