<link rel="canonical" href="http://www.diannemurphy.co.uk{{ page.url }}"/>

<meta property="og:site_name" content="Works by Wales based Printmaker and Artist Dianne Murphy"/>
<meta property="og:title" content="Printmaker and Artist Dianne Murphy"/>
<meta property="og:url" content="http://www.diannemurphy.co.uk/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="{{ site.description }}"/>

<meta itemprop="name" content="Wales based Printmaker and Artist Dianne Murphy"/>
<meta itemprop="url" content="http://www.diannemurphy.co.uk/"/>
<meta itemprop="description" content="{{ site.description }}"/>

<meta name="twitter:title" content="Wales based Printmaker and Artist Dianne Murphy"/>
<meta name="twitter:url" content="http://www.diannemurphy.co.uk/"/>
<meta name="twitter:card" content="summary"/>

<meta name="Description" content="{{ site.description }}">
<meta name="Keywords" content="{{ page.tags  | join: ', ' }}">
