<link rel="canonical" href="http://www.diannemurphy.co.uk{{ page.url }}"/>

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="http://www.diannemurphy.co.uk/">
<meta name="twitter:url" content="http://www.diannemurphy.co.uk/{{ page.url }}">
<meta name="twitter:title" content="Wales based Printmaker and Artist Dianne Murphy">
<meta name="twitter:description" content="{{ site.description }}">

<meta property="og:url" content="http://www.diannemurphy.co.uk/{{ page.url }}">
<meta property="og:title" content="Wales based Printmaker and Artist Dianne Murphy">
<meta property="og:description" content="{{ site.description }}">

<meta name="Description" content="{{ site.description }}">
<meta name="Keywords" content="{{ page.tags  | join: ', ' }} Printmaker, Wales, Etchings"
>
