<link rel="canonical" href="http://www.diannemurphy.co.uk{{ page/url }}"/>
<meta property="og:site_name" content="Works by Wales based Printmaker and Artist Dianne Murphy"/>
<meta property="og:title" content="Printmaker and Artist Dianne Murphy"/>
<meta property="og:url" content="http://www.diannemurphy.co.uk/"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="The Images of childhood form my visual language, a style developed during the final months at art college in Dundee, Scotland. However, it was only after graduating and creating a whole body of work from those initial pieces that I realised there was something more going on than a simple portrayal of my 'happy' childhood. New pieces brought increasingly uneasy responses from others and it soon became obvious that the work had a dark and maybe macabre underlying nature.

This doesn't mean the work produced is dark and ugly and that the doom and gloom of a therapy-based aspect is the only spur to work - the big prize lies in the tussle when creating a piece of work: the chase of orchestrating play of line and form, the breathtaking buzz of getting 'hot' when brain, eye, hand and heart come together so honestly - it is uniquely sweet, joyful and totally addictive as a practice."/>

<meta itemprop="name" content="Wales based Printmaker and Artist Dianne Murphy"/>
<meta itemprop="url" content="http://www.diannemurphy.co.uk/"/>
<meta itemprop="description" content="The Images of childhood form my visual language, a style developed during the final months at art college in Dundee, Scotland. However, it was only after graduating and creating a whole body of work from those initial pieces that I realised there was something more going on than a simple portrayal of my 'happy' childhood. New pieces brought increasingly uneasy responses from others and it soon became obvious that the work had a dark and maybe macabre underlying nature.

This doesn't mean the work produced is dark and ugly and that the doom and gloom of a therapy-based aspect is the only spur to work - the big prize lies in the tussle when creating a piece of work: the chase of orchestrating play of line and form, the breathtaking buzz of getting 'hot' when brain, eye, hand and heart come together so honestly - it is uniquely sweet, joyful and totally addictive as a practice."/>

<meta name="twitter:title" content="Wales based Printmaker and Artist Dianne Murphy"/>
<meta name="twitter:url" content="http://www.diannemurphy.co.uk/"/>
<meta name="twitter:card" content="summary"/>

<meta name="Description" content="{{ page.medium }}">
<meta name="Keywords" content="{{ page.tags  | join: ', ' }}">
