<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <div class="portrait"></div>
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About my work</a>
      <a class="sidebar-nav-item" href="/cv">CV</a>
      <a class="sidebar-nav-item" href="/gallery">Gallery</a>
      <a class="sidebar-nav-item" href="/links">Links</a>

    </nav>
    <ul class="social">
      <li>
        <a href="mailto:dianne@mearso.com"><i class="fa fa-lg fa-envelope fa-pull-right"></i>  Contact
      </li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

</a>
  </div>
</div>
