<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <div class="portrait"></div>
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About my work</a>
      <a class="sidebar-nav-item" href="/cv">CV</a>
      <a class="sidebar-nav-item" href="/gallery">Gallery</a>
      <a class="sidebar-nav-item" href="/links">Buy online</a>
      <a href="mailto:dianne@mearso.com" class="sidebar-nav-item">Contact <i class="fa fa-lg fa-envelope "></i></a>
      <a href="https://www.instagram.com/diannemurphyartist/?hl=en" class="sidebar-nav-item">Instagram <i class="fa fa-lg fa-instagram "></i></a>


    </nav>


    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

</a>
  </div>
</div>
