<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/global.css" type="text/css" />
  <title>Dianne Murphy - Artist &amp; Printmaker</title>


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.lightbox.js"></script>
<link href="/css/bootstrap.lightbox.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">	
	<div class="row">
		<div class="col-md-10">		
		  <h1 id="header">
	    	Dianne Murphy
		  </h1>
		</div>
		<div class="row">
			<div class="col-md-10">				  
				<ul class="nav nav-pills">
					<li><a href="/">About</a></li>
					<li><a href="/cv/">CV</a></li>
					<li><a href="/gallery/">Gallery</a></li>
					<li><a href="/links/">Links</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10">
    	{{ content }}
		</div>
	</div>
	{% include footer.html %}
</div>



