<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/global.css" type="text/css" />
  <title>Dianne Murphy - Artist &amp; Printmaker</title>


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.lightbox.js"></script>
<link href="/css/bootstrap.lightbox.css" rel="stylesheet" />

</head>
<body>
<div id="pagewidth" class="container">
  <h1 id="header" >
    <span>Dianne Murphy </span>
  </h1>

{% include navigation.html %}
 
<!-- center -->

<div class="container">

    {{ content }}


</div>

{% include footer.html %}
