---
layout: default
---

<div class="post">
  <img class="post-thumbnail" src="/images/{{ page.image }}.jpg">
  <h3 class="title">{{ page.title }}</h3>
  <p>
    {{ page.content }}
  </p>

  <ul>
    <li>{{ page.medium}}</li>
    <li>Edition of {{ page.edition}}</li>
    <li>Created {{ page.created }}</li>
    {% if page.width %}
    <li>{{ page.width }}cm x {{ page.height }}cm</li>
    {% endif %}
    <li>Page updated {{ page.date | date_to_long_string }}</li>
  </ul>

  <div class="external">
    {% if page.af-url %}
      <a href="{{ page.af-url }}">Artfinder</a>
    {% endif %}
    {% if page.sa-url %}
      <a href="{{ page.sa-url }}">Saatchi Art</a>
    {% endif %}
  </div>
</div>
