---
layout: default
---

{% include JSON-artwork.html %}

<div class="post">
  <span itemscope itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <img class="post-thumbnail" src="/images/{{ page.image }}.jpg" alt="{{ page.medium }}" itemprop="image">
  <h3 class="post-title" itemprop="name">{{ page.title }}</h3>
  <p>
    {{ content }}
  </p>

  <ul class="work-info" itemprop="description">
    <li>{{ page.medium}}</li>
    {% if page.edition %}
    <li>Edition of {{ page.edition}}</li>
    {% endif %}
    <li>Created {{ page.created }}</li>
    {% if page.width %}
    <li>{{ page.width }}cm x {{ page.height }}cm</li>
    {% endif %}
    <li class='post-date'>Page updated {{ page.date | date_to_long_string }}</li>
  </ul>
  </span>

{% if page.af-url or page.sa-url or page.sweet-url or page.a2a-url or page.water-url or matriark-url %}
<h4>Buy work from these sites</h4>
  <ul class="external">
    {% if page.af-url %}
      <li><a href="{{ page.af-url }}" itemprop="url" >Artfinder</a></li>
    {% endif %}
    {% if page.sa-url %}
      <li><a href="{{ page.sa-url }}" itemprop="url" >Saatchi Art</a></li>
    {% endif %}
    {% if page.sweet-url %}
      <li><a href="{{ page.sweet-url }}">Sweet Art Gallery</a></li>
    {% endif %}
    {% if page.a2a-url %}
    <li><a href="{{ page.a2a-url }}">Art2Art</a></li>
    {% endif %}
    {% if page.water-url %}
    <li><a href="{{ page.water-url }}">Water St Gallery</a></li>
    {% endif %}
    {% if page.matriark-url %}
    <li><a href="{{ page.matriark-url }}">Matriark</a></li>
    {% endif %}
  </ul>
{% endif %}



</div>

<div class="PageNavigation">
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">Next</a></br>
  {% endif %}
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">Previous</a>
  {% endif %}

</div>
